

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(77, 72, 72);
    box-align: center
}

h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: darkolivegreen
}
